body {
    font-family: monospace;
    font-weight: 800;
    font-size: 1.4rem;
    background-color: rgb(249, 239, 227);
}

header {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#calculator-container {
    border: 2px, solid, black;
    width: 15rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgb(212, 190, 157);
}

#display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#textbox {
    resize: none;
    padding: 1rem;
    border-radius: 10px;
    width: 12rem;
    background-color: rgb(255, 247, 240);
}

#buttons {
    height: 200px;
    padding: 1rem;
    display: grid;
    grid-template-areas: 
    "box-1 box-2 box-3 box-11"
    "box-4 box-5 box-6 box-12"
    "box-7 box-8 box-9 box-13"
    "box-10 box-15 box-15 box-14";

    @media (max-width: 400px) {
        height: 300px;
        justify-content: center;
        align-content: center;
        margin-top: 1rem;
        padding: 0;
        grid-template-areas: 
        "box-1 box-2 box-3 box-11"
        "box-4 box-5 box-6 box-12"
        "box-7 box-8 box-9 box-13"
        "box-10 box-10 box-15 box-14";
        
    }
}

button {
    border-radius: 20px;
    margin: 1px;

    @media (max-width: 400px) {
        height: 70px;
        width: 70px;  
        font-size: larger;  
    }
}

button:hover {
    cursor: pointer;
}

.number {
    background-color: rgb(255, 247, 240);
}

.operator {
    background-color: antiquewhite;
}

.equals {
    background-color: rgb(248, 184, 100);
}